body {
  background-color: #f0e9d2;
  color: #000000;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  display: block;
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0px;
  font-family: "Sacramento", cursive;
  color: #ffdca9;
  line-height: 1.5;
}
hr {
  color: #678983;
  border: 5px #678983;
  width: 20%;
  margin: 30px auto;
  border-style: none;
  border-top-style: dotted;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #263159;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #251749;
  font-size: 1.2rem;
}

p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;;

}

/*top container css editing */
.top-container {
  background-color: #678983;
  color: #181d31;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  top: 250px;
  left: 350px;
}

/************************************/
/** middle container css editing **/
.middle-container {
  background-color: #f4ead5;
  color: #181d31;
  font-family: "Poppins", sans-serif;
  margin:80px 0px;
}

.middle-container h2 {
  padding-top: 20px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}
.intro-profile{
  width: 50%;
  margin: 10px auto 10px auto;
  text-align: justify;
  line-height: 2;
}

.skill-row p {
  line-height: 2;
}

.profile-pic {
  width: 20%;
  height: 20%;
  align-self: center;
  padding: 20px;
}
.birds{
  position: absolute;
  width: 10%;
  height: 15%;
  left: 100px;
}
.birds-2{
  position: absolute;
  width: 10%;
  height: 15%;
  right: 100px;
  transform: scaleX(-1);
}
.bird-pic{
  position: absolute;
  width: 5%;
  height: 7%;
  left: 650px;
}
.humor {
  float: right;
  width: 25%;
  height: 25%;
  margin-left: 30px;
}

.coding-png {
  float: left;
  width: 25%;
  height: 25%;
  padding-right: 30px;
}
.contact-me p{
  padding-bottom: 10px;
}

.btn {
  background-color: #181d31;
  color: #ffffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
}

/**********************************/

/** bottom container css editing **/
.bottom-container {
  padding: 30px;
  background-color: #181d31;
  color: #ffffff;
  height: auto;
}

.bottom-container a {
  color: #ffffff;
  font-size: 1em;
}
.bottom-container a:hover {
  color: cornflowerblue;
  font-size: 1em;
}

.bottom-container img {
  height: 50px;
  width: 50px;
  padding: 15px;
}

.copyright{
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
.full {
  text-decoration: underline;
}
